
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% load static %}
{% get_static_prefix as mew %}
<!DOCTYPE HTML>
<html>
<head>
  <title>FOOD FOR U | Home :: W3layouts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="{{mew}}css/style.css" rel="stylesheet" type="text/css"  media="all" />
  <link href='{{mew}}http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="{{mew}}css/slider.css" rel="stylesheet" type="text/css"  media="all" />
  <script type="text/javascript" src="{{mew}}js/jquery.min.js"></script> 
  <script type="text/javascript" src="{{mew}}js/jquery.easing.1.3.js"></script> 
  <script type="text/javascript" src="{{mew}}js/camera.min.js"></script>
  <script type="text/javascript" src="{{mew}}js/jquery.lightbox.js"></script> 
  <link rel="stylesheet" type="{{mew}}text/css" href="{{mew}}css/lightbox.css" media="screen" />
	  <script type="text/javascript">
		  $(function() {
			$('.gallery a').lightBox();
		  });
	  </script>
	 <script type="text/javascript">
			   jQuery(function(){
				jQuery('#camera_wrap_1').camera({
					pagination: false,
				});
			});
	 </script>
 </head>
  <body>
	
	 <div class="header">
	     <div class="wrap">
			<div class="top-header">
				<div class="logo">
					<a href="index.html"><img src="{{mew}}images/logo.png" title="logo" /></a>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href="#"><img src="{{mew}}images/facebook.png" title="facebook" /></a></li>
						<li><a href="#"><img src="{{mew}}images/twitter.png" title="twitter" /></a></li>
						<li><a href="#"><img src="{{mew}}images/google.png" title="google plus" /></a></li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
	
			<div class="top-nav">
				<div class="top-nav-left">
					<ul>
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="contact.html">Contact</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="top-nav-right">
					<form>
						<input type="text"><input type="submit" value="" />
					</form>
				</div>
				<div class="clear"> </div>
			</div>
			<!---End-top-nav---->
		</div>
	</div>
   <!----End-header----->
	       <!--start-image-slider---->
			    <div class="slider">					     
					<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">									           
						<div data-src="{{mew}}images/slider1.jpg">  </div> 
						<div data-src="{{mew}}images/slider2.jpg">  </div>
						<div data-src="{{mew}}images/slider3.jpg">  </div>
						<div data-src="{{mew}}images/slider4.jpg">  </div>
					</div>
					<div class="clear"> </div>					       
			</div>					
         <!--End-image-slider---->
		 <!---start-content---->
		 <div class="content">
		 	<div class="top-grids">
		 		<div class="wrap">
			 		<div class="top-grid">
			 			<a href="#"><img src="{{mew}}images/icon1.png" title="icon-name"></a>
			 			<h3>Sucess Story</h3>
			 			<p> </p>
			 			<a class="button" href="about.html">Read More</a>
			 		</div>
			 		<div class="top-grid">
			 			<a href="#"><img src="{{mew}}images/icon2.png" title="icon-name"></a>
			 			<h3>Our Services</h3>
			 			<p>  </p>
			 			<a class="button" href="services.html">Read More</a>
			 		</div>
			 		<div class="top-grid last-topgrid">
			 			<a href="#"><img src="{{mew}}images/icon3.png" title="icon-name"></a>
			 			<h3>Location</h3>
			 			<p> </p>
			 			<a class="button" href="contact.html">Read More</a>
			 		</div>
			 		<div class="clear"> </div>
		 		</div>
		 	</div>
		 	<div class="mid-grid">
		 		<div class="wrap">
			 		<h1>FOOD FOR U!</h1>
			 		<h2>Best food at best price </h2>
			 		
			 		<a class="button1" href="#">Read More</a>
		 		</div>
		 	</div>
		 	<div class="bottom-grids">
							<div class="wrap">
								<div class="bottom-grid1">
									<h3>POPULAR INFO</h3>
									<ul>
										<li><a href="#">NORTH INDIAN CUISINE</a></li>
					                    <li><a href="#">SOUTH INDIAN CUISINE</a></li>
					                    <li><a href="#">RAJASTHANI CUISINE</a></li>
					                    <li><a href="#">ITALIAN CUISINE</a></li>
									</ul>
									<a class="button" href="contact.html">Read More</a>
								</div>
								<div class="bottom-grid2 bottom-mid">
									<h3>Today Special</h3>
									<span></span>
									<p></p>
									<div class="gallery">
										<ul>
												<li><a href="images/slider1.jpg"><img src="{{mew}}images/slider1.jpg" alt=""></a></li>
												<li><a href="images/slider2.jpg"><img src="{{mew}}images/slider2.jpg" alt=""></a></li>
												<li><a href="images/slider3.jpg"><img src="{{mew}}images/slider3.jpg" alt=""></a></li>
												<li><a href="images/slider4.jpg"><img src="{{mew}}images/slider4.jpg" alt=""></a></li>
												<li><a href="{{mew}}images/slider1.jpg"><img src="{{mew}}images/slider1.jpg" alt=""></a></li>
												<li><a href="{{mew}}images/slider2.jpg"><img src="{{mew}}images/slider2.jpg" alt=""></a></li>											
											<div class="clear"> </div>
										</ul>										
								 </div>
								 <a class="button" href="gallery.html">Read More</a>
							</div>
							<div class="bottom-grid1 bottom-last">
									<h3>Latest INFO</h3>
									<span></span>
									<p></p>
									<p></p>
									<p></p>
									<p></p>
									<a class="button" href="#">Read More</a>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="clear"> </div>
	<!--end-wrap--->
	 </div>
		 </div>
		 <!---End-content---->
		 <!---start-footer---->
		 <div class="footer">
		<div class="wrap">
			<div class="footer-grid">
				<h3>About us</h3>
				<p></p>
				<a href="#">ReadMore</a>
			</div>
			<div class="footer-grid center-grid">
				<h3>Recent posts</h3>
				<ul>
					
				</ul>
			</div>
			<div class="footer-grid twitts">
				<h3>Latest Tweets</h3>
				<p><label>.....</label>.....</p>
				<span>10 minutes ago</span>
				<p><label>....r</label>.....</p>
				<span>15 minutes ago</span>
			</div>
			<div class="footer-grid">
				<h3>DID YOU KNOW?</h3>
				<p></p>
				<a href="#">ReadMore</a>
			</div>
			<div class="clear"> </div>
		</div>
		<div class="clear"> </div>
	</div>
	<div class="copy-right">
		<div class="top-to-page">
						<a href="#top" class="scroll"> </a>
						<div class="clear"> </div>
					</div>
		<p>Design by SHRUTI MATHUR  &  TUSHAR KAUSHIK</p>
	</div>
		 <!---End-footer---->
	</body>
</html>

